numpy==1.11.3
scipy==0.18.1
pandas==0.19.2
six==1.8.0
boto==2.45.0
boto3==1.4.3
mlocs==1.0.5
peewee==2.8.5
pre-commit==0.9.4
psycopg2==2.6.2
pytest==3.0.5
cython==0.25.2
flask==0.12
flask-httpauth==0.12
pyyaml==3.12
uwsgi==2.0.14
